<div class="sidebar">
    <ul>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-home"></i> <span>Home</span> </a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-dollar-sign"></i> <span>Home</span> </a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-file-csv"></i> <span>Home</span> </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="active"><i class="fa fa-columns"></i> <span>Home</span> </a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-globe"></i> <span>Home</span> </a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-meteor"></i> <span>Home</span> </a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-file-excel"></i> <span>Home</span> </a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-tablet"></i> <span>Home</span> </a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-wrench"></i> <span>Home</span> </a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-cog"></i> <span>Home</span> </a>
        </li>

    </ul> 
</div>